#main-content .container {
  display: block;
}
div .text {
  border: 1px;
}
h1 {
  padding-left: 25px;
  padding-bottom: 15px;
  color: var(--dark-dark-blue);
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0.325rem;
}
