h1 {
    font-family: "Gordita";
    font-size: 40px;
    font-weight: bold;
    color: #273e47;
  }
  li {
    list-style: inside;
    margin-left: 20px;
    color: #273e47;
  }
  #prec-content {
    border-radius: 16px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
    margin: 20px 0;
    padding: 30px;
    width: 900px;
    display: block;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    #prec-content {
      width: 500px;
    }
  }
  .prec-bttn {
    display: block;
    margin: 0 auto;
    background-color: #273e47;
    border-radius: 16px;
    padding: 20px;
    color: white;
  }
  .prec-bttn:hover {
    background-color: #1e2f36;
    transition: all 100ms ease-in-out;
  }