@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gordita Bold";
  src: url("../assets/fonts/gordita-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gordita Medium";
  src: url("../assets/fonts/gordita-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
